CRON_EXPRESSION=0 23 * * *
CRON_TIMEZONE=America/Mexico_City

SFTP_HOST=your-sftp-host
SFTP_PORT=22
SFTP_USERNAME=your-user
SFTP_PASSWORD=your-password
SFTP_REMOTE_DIR=/exports/micros
SFTP_LOCAL_DIR=./data/micros
SFTP_PEDIDOS_REMOTE_DIR=/exports/PEDIDOS
SFTP_PEDIDOS_LOCAL_DIR=./data/pedidos
SFTP_CONSUMOS_REMOTE_DIR=/SFTP_COA/SFTP_COA/CONSUMOS
SFTP_CONSUMOS_LOCAL_DIR=./data/consumos

PEDIDOS_API_UPLOAD_URL=http://localhost:5001/core/pedido/subirArchivoPedidoPos
PEDIDOS_API_TIMEOUT_MS=20000
ETL_DEBUG_PEDIDOS_API=false

SQL_USER=sa
SQL_PASSWORD=your-password
SQL_SERVER=localhost
SQL_DATABASE=MicrosETL
SQL_ENCRYPT=true
SQL_TRUST_SERVER_CERTIFICATE=true
ETL_DEBUG_SQL=false

SAP_BASE_URL=https://sap-server:50000/b1s/v1
SAP_COMPANY_DB=SBODEMOUS
SAP_USERNAME=manager
SAP_PASSWORD=your-password
SAP_ALLOW_SELF_SIGNED_CERT=false
ETL_DEBUG_SAP=false

MIDDLEWARE_DB_HOST=localhost
MIDDLEWARE_DB_PORT=5432
MIDDLEWARE_DB_NAME=micros_middleware_dev
MIDDLEWARE_DB_USER=your-user
MIDDLEWARE_DB_PASSWORD=your-password
MIDDLEWARE_DB_SSL_REJECT_UNAUTHORIZED=true
